body {
    background-image: url("elegant-bk.jpg");
    background-size: cover;
}


.logo h1 {
    /* color: #cfcfcf; */
    /* color: #858585; */
    /* color: #787878; */
    color: #9e9e9e;
text-shadow: 
4px 2px 4px #54c6f0,
             2px 2px 4px black,
             2px 2px 4px #808080;
font-weight: bold;
font-family: michroma;
font-size: 90px;
line-height: 3.0;
text-align: center;
font-stretch: expanded;
margin-bottom: 0rem;
}
header {
    background-image: url("elegant-bk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    position: fixed;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #808080;
    color : red;
    text-align: center;
  }