

.logo h1 {
    color: mediumspringgreen;
    text-shadow: 2px 2px 4px #5c5c5c,
                 2px 2px 4px black,
                 2px 2px 4px #54c6f0;
    font-weight: bold;
    font-family: michroma;
    font-size: 90px;
    line-height: 3.0;
    text-align: center;
    font-stretch: expanded;
    margin-bottom: 0rem;
    }
    header {
        background-image: url("blue-hex.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .background {
        background-image: url("blue-hex.png");
        background-size: cover;
    }